body{
  background-color: #013098;
}
h1{
  font-size: 40px;
  border-radius: 5px;
  padding: 10px;
  color: white;

}
.item1{
  grid-area: header;
  border-radius: 5px;
}
.item2 {
  grid-area: menu;
  border-radius: 5px;
}
.item3 {
  grid-area: main;
  border-radius: 5px;
  height: 700px;
  padding: 20px;
}
.item5 {
  grid-area: footer;
  border-radius: 5px;
}
.item6 {
  grid-area: blank1;
  border-radius: 5px;
}
.item7 {
  grid-area: blank2;
  border-radius: 5px;
}
.item8 {
  grid-area: blank3;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'blank1 blank1 header header blank2 blank2'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;

  padding: 10px;
}

.grid-container > div {
  background-color: #7d7d7d;
  text-align: center;
  font-size: 30px;
  border: 1px #000000;
  border-style: solid;


}
li{
width: 100%;
  list-style: none;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px #000000;
}
ul{
  padding: 0;
}
a{
  background: rgb(2,96,196);
  background: linear-gradient(0deg, rgba(2,96,196,1) 0%, rgba(0,212,255,1) 100%);
  padding: 10px 25% 10px 25%;
  border-radius: 5px;
  border: 1px #000000;
  border-style: solid;
  width: 100%;
  color: black;
  text-decoration: none;
}
a:hover{
  background: rgb(2,96,196);
  background: linear-gradient(180deg, rgba(2,96,196,1) 25%, rgba(0,212,255,1) 100%);
  color: white;
  border: 1px #ffffff;
  border-style: solid;
}
p{
  font-size: 20px;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}
h2{

  margin: 20px;
  border-radius: 10px;
  color: white;

}
